html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--pale-blue);
}

.container {
	background-color: var(--white);
}

.plan {
	background-color: var(--very-desaturated-blue);
}