/* Boilerplate styles to apply to the page as a whole */

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--pale-blue);
}

//Card Background Color

.container {
	background-color: var(--white);
}

/* Plan & Pricing BG Color */

.plan {
	background-color: var(--very-desaturated-blue);
}