:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%); 
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--very-desaturated-blue: hsl(225, 100%, 98%);
	--dark-blue: hsl(223, 47%, 23%);
}
