@use '../util' as *;

.container {
	padding: 0 rem(24);
	max-width: rem(1110);
	margin: 0 auto;
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 4em;
	border-radius: 0 0 10px 10px;

	@include breakpoint(large) {
		padding: 0;
		transform: translate(0, 0);
	}

	.submit-plan {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem 0 4rem 0;
		.proceed {
			width: 13rem;
			padding: 0.65rem 0 0.65rem 0;
			border-radius: 8px;
			border: none;
			color: var(--white);
			background-color: var(--bright-blue);
			font-weight: var(--font-weight-heaviest);
		}
		.cancel {
			padding-top: 2rem;
			font-weight: var(--font-weight-heavy);
		}
	}
}

.title-pic {
	max-width: 272px;
}

.plan {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 10px;
	img,a {
		position: relative;
	}

	img {
		width: 25%;
		right: 0.5em;
	}
	a {
		left: 0.75em;
	}
}

.plan-price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	.plan-title {
		margin-bottom: -15px;
	}
}

@media (min-width: 375px) {
	.title-pic {
		max-width: 318px;
		width: 318px;
	}

	.container {
		border-radius: 10px;
	}
}

@media (min-width: 414px) {
	.title-pic {
		max-width: 351px;
		width: 351px;
	}
}

@media (min-width: 510px) {
	.title-pic {
		max-width: 433px;
		width: 433px;
	}
}

@media (min-width: 600px) {
	.title-pic {
		max-width: 510px;
		width: 510px;
	}
	.description {
		width: 60%;
		position: relative;
		left: 6rem;
	}
}

@media (min-width: 768px) {
	.title-pic {
		max-width: 652px;
		width: 652px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 652px;
		position: relative;
		top: 3rem;
		.plan-price {
			padding-right: 13rem;
			width: 100%;
		}
		.proceed {
			width: 26rem!important;
		}
	}
}