@use '../util' as *;

//Body center align text

body {
	text-align: center;
}

/* HEADER BASE VALUES */

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--dark-blue);
}

/* TITLE FONT SIZE */

.order-sum {
	font-size: 22px;
	padding-top: 2rem;
}

/* CANCEL & PARA BUTTONS */

.cancel,p {
	color: var(--desaturated-blue);
}

.cancel {
	text-decoration: none;
}